.container {
    margin-top: 4%;
}
.container h4, .container h3 {
    text-align: center;
}
.home #viewGameStats, a {
	cursor: pointer;
}
#configure {
    margin-top: 5%;
}

.form-inline {
	width: 40px;
}