body {
    background: rgba(136,136,136,.11);
}
.container.home {
    margin-top: 4%;
}
.container h4, .container h3 {
    text-align: center;
}
.home #viewGameStats, a {
	cursor: pointer;
}
#configure {
    margin-top: 5%;
}
.form-inline {
	width: 40px;
}
.alert {
    text-align: center;
    position: absolute;
    z-index: 1000;
    top: 20px; left: 5px; right: 5px;
}
.box-score p {
	text-align: center;
}
.box-score td {
	text-align: center;
}
.box-score-title {
	color: white;
	text-align: center;
}