<div class="container home">
    <a data-toggle="modal" data-target="#configure">Configure</a>
    <h3>League Live Stats</h3>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Winner</th>
                  <th>Red | Win %</th>
                  <th>Blue | Win %</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="game in games">
                  <td>{{game.name}}</td>
                  <td>{{game[game.winner].name ? game[game.winner].name : game.winner}}</td>
                  <td>
                    {{game.red.name}} | {{game.red.winPercentage}}% 
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" style="width: {{game.red.winPercentage}}%"></div>
                    </div>
                    </td>
                  <td>
                    {{game.blue.name}} | {{game.blue.winPercentage}}%
                    <div class="progress">
                      <div class="progress-bar" style="width: {{game.blue.winPercentage}}%;"></div>
                    </div>
                  </td>
                  <td><a ng-click="getGameInfo(game)">See More</a></td>
                </tr>
              </tbody>
            </table> 
        </div>
    </div>
</div>
<!-- Configure Modal -->
<div class="modal fade" id="configure" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="action" class="col-md-3 control-label">Action</label>
                        <div class="col-md-8">
                            <select class="form-control" id="action" ng-model="action">
                                <option>Create</option>
                                <option>Login</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="action=='Create'">
                        <label for="gameName" class="col-md-3 control-label">Name</label>
                        <div class="col-md-8">
                            <input class="form-control" id="gameName" ng-model="gameName"/>
                        </div>
                    </div>
                    <div class="form-group" ng-show="action=='Login'">
                        <label for="gameKey" class="col-md-3 control-label">Key</label>
                        <div class="col-md-8">
                            <input class="form-control" id="gameKey" ng-model="gameKey"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="submitForm(action)">Submit</button>
            </div>
        </div>
    </div>
</div>