<div class="container">
  <h3>{{game.name}}</h3>
  <br/>
  <div class="row">
      <div class="col-md-6">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th bgcolor="#ff6961" align="right"><font color="#551A8B">Barons</font></th>
              <th bgcolor="#ff6961" align="right"><font color="#ffffff">Dragons</font></th>
              <th bgcolor="#ff6961" align="right"><font color="#ffffff">Towers</font></th>
              <th bgcolor="#ff6961" align="right"><font color="#f1c40f">Gold (k)</font></th>
              <th bgcolor="#ff6961" align="right"><font color="#ffffff">Kills</font></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ng-bind="game.red.barons"></td>
              <td ng-bind="game.red.dragons"></td>
              <td ng-bind="game.red.towers"></td>
              <td ng-bind="game.red.gold"></td>
              <td ng-bind="game.red.kills"></td>
            </tr>
          </tbody>
        </table> 
      </div>
      <div class="col-md-6">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th bgcolor="#6699CC" align="right"><font color="#ffffff">Kills</font></th>
              <th bgcolor="#6699CC" align="right"><font color="#f1c40f">Gold (k)</font></th>
              <th bgcolor="#6699CC" align="right"><font color="#ffffff">Towers</font></th>
              <th bgcolor="#6699CC" align="right"><font color="#ffffff">Dragons</font></th>
              <th bgcolor="#6699CC" align="right"><font color="#551A8B">Barons</font></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ng-bind="game.blue.kills"></td>
              <td ng-bind="game.blue.gold"></td>
              <td ng-bind="game.blue.towers"></td>
              <td ng-bind="game.blue.dragons"></td>
              <td ng-bind="game.blue.barons"></td>
            </tr>
          </tbody>
        </table> 
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-4 col-md-offset-2 box-score">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th bgcolor="#ff6961" align="right" colspan="2" class="box-score-title" ng-bind="game.red.name"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="summoner in game.red.summoners track by $index"> <!-- Top -->
                <td ng-bind="summoner.name"></td>
                <td>
                  {{summoner.kills}} / {{summoner.assists}} / {{summoner.deaths}}
                </td>
              </tr>
            </tbody>
          </table> 
      </div>
      <div class="col-md-4 box-score">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th bgcolor="#6699CC" align="right" colspan="2" class="box-score-title" ng-bind="game.blue.name"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="summoner in game.blue.summoners track by $index"> <!-- Top -->
                <td ng-bind="summoner.name"></td>
                <td>
                  {{summoner.kills}} / {{summoner.assists}} / {{summoner.deaths}}
                </td>
              </tr>
            </tbody>
          </table> 
      </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Probability of Winning</div>
        <div class="panel-body">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>